/* Using web font from Google, using @import */
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Questrial', sans-serif;
  height: 100%;
  background-color: #111112;
  /* Possibly swap over to #1a1a1a, or #161616 */
  color: #fff;
}

/*-------------------------------------------*\
        				 HEADER
\*-------------------------------------------*/
header {
  display: flex;
  justify-content: space-between;
  height: 55px;
  background-color: #0c0c0c;
  color: white;
  border-bottom: 3px solid #dc143c;
  background-image: linear-gradient(76deg, #161616 20%, #303030 74%);
}

#logo {
  z-index: 99;
  margin: 0 10px;
}

/* .cinemalizer img {
  max-width: 200px;
} */

h1 {
  margin: 10px;
}

#menu {
  display: none;
  /* background-color: #0c0c0c; */
}

#menu.open {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  position: absolute;
  height: 160px;
  width: 100vw;
  background-color: #0c0c0c;
  border-bottom: 3px solid #dc143c;
  background-image: linear-gradient(76deg, #161616 20%, #303030 74%);
}

#menuToggler {
  margin: 0 10px;
  z-index: 99;
  cursor: pointer;
  font-size: 3em;
}

nav {
  color: #222;
  margin: auto 0;
}

nav a {
  text-decoration: none;
  font-size: 1em;
  color: inherit;
  margin: 0 10px;
}

nav ul {
  list-style: none;
  margin-top: 60px;
}

nav li {
  display: inline-block;
  color: #fff;
  font-size: 1.5em;
}

nav li:hover,
.active {
  color: #dc143c;
  font-weight: bold;
}

#links img {
  margin: 2px;
  width: 40px;
  transition: all .5s ease;
  border-radius: 50vw;
}

#links img:hover {
  filter: brightness(0.1) invert(1);
  transform: translateY(-0.15em);
	transition: all .5s ease;
}

#viz {
  width: auto;
}

/*-------------------------------------------*\
        				ALL SECTIONS
\*-------------------------------------------*/
section {
  margin-bottom: 4vw;
}

#features,
#carousel,
#movie-information,
#bubble-chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*-------------------------------------------*\
        				CONTAINERS
\*-------------------------------------------*/
hr {
  border: 0;
  border-top: 3px solid #dc143c;
  width: 250px;
  margin-top: 5px;
  margin-bottom: 25px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  background: linear-gradient(1deg, #111112 20%, #424242 96%);
}

.text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 8vw;
}

.text-content h2 {
  font-size: 3em;
  text-shadow: 0px 0px 3px #fff;
}

.text-content h3 {
  font-size: 1em;
  font-weight: lighter;
  padding: 15px;
  color: #dfdfdf;
}

.picture-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.picture-content img {
  height: 250px;
}

.carousel-container h2 {
  font-size: 2em;
  font-weight: lighter;
}

/* FEATURES SECTION */
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 10px 0 10px
}

.row h2 {
  width: 100%;
  text-align: center;
  font-size: 2em;
  margin: 10px;
  margin-top: 50px;
}

.features-card {
  padding: 20px;
  margin: 15px 20px;
  text-align: center;
  background: linear-gradient(360deg, #161616 20%, #303030 74%);
  border-radius: 30px;
  transition: all .5s ease;
  max-width: 200px;
  min-height: 250px;
}

.features-card img {
  font-size: 2em;
  height: 2em;
  width: 2em;
  margin: auto;
  display: grid;
  place-items: center;
  border-radius: 50%;
  color: #fff;
  /* filter: brightness(.9) invert(0.9); */
  filter: brightness(.5);
  /* border: 2px solid #fff; */
}

.features-card h3 {
  font-size: 1.3em;
  margin: 1em 0 1.4em 0;
  font-weight: 600;
  letter-spacing: 0.3px;
}

.features-card p {
  line-height: 2em;
  color: gray;
}

.features-card:hover {
  transform: translateY(-0.4em);
  transition: all.3s ease;
  /* border: 1px solid #dc143c; */
}

.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(76deg, #161616 20%, #303030 74%);
  transition: all 0.3s ease;
  border-radius: 30px;
  margin: 15px 20px 50px;
  padding: 20px;
  min-width: 200px;
  min-height: 350px;
}

.cta-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: linear-gradient(76deg, #161616 20%, #303030 74%);
  max-width: 300px;
  border-radius: 30px;
  padding: 20px;
  margin: 0 20px;
}

.carousel-container img {
  height: 230px;
  transition: all 0.3s ease;
  /* border: 3px solid white; */
  border-radius: 20px;
  box-shadow: -2px 2px 0px #fff;
}

.card {
  display: none;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  max-width: 200px;
  max-height: 350px;
  padding-top: 10px;
  animation-fill-mode: both;
  animation-duration: 1s;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
}

.mobile-details,
.tablet-details,
.desktop-details {
  padding: 20px 0;
  margin: 0 20px;
}

.mobile-details h3 {
  font-size: 1em;
  font-weight: bolder;
  text-transform: uppercase;
}

.tablet-details {
  display: none;
}

.tablet-details p {
  padding: 15px 15px;
}

.desktop-details {
  display: none;
}

.desktop-details p {
  padding: 5px 15px;
}


/* final CTA */
#cta img {
  width: 300px;
}

/*-------------------------------------------*\
        			  	BUTTONS
\*-------------------------------------------*/
/* CTA */
#get-started {
  margin-top: 20px;
  cursor: pointer;
  width: 200px;
  height: 60px;
  border: 0;
  padding: 12px 10px;
  outline: none;
  color: #fff;
  background: linear-gradient(to right, #7a081f, #dc143c);
  border-radius: 50vw;
  transition: width 0.5s;
  font-size: 1.5em;
  box-shadow: 1px 1px 7px #000;
}

#get-started img {
  display: none;
  width: 50px;
  height: 20px;
}

#get-started:hover img {
  display: block;
}

#get-started:hover {
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #fff;
}

#prevBtn,
#nextBtn {
  z-index: 99;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: 700;
  background-color: rgb(255 255 255 / 65%);
  border: 0;
  border-radius: 50%;
  outline: none;
  width: 40px;
  height: 40px;
  transition: 0.6s ease;
  padding: 2px;
  box-shadow: 1px 1px 7px #b9b9b9;
  margin: 0 20px;
}

#prevBtn:hover,
#nextBtn:hover {
  background-color: #fff;
}

/*-------------------------------------------*\
          INTERACT.HTML / CHARTS.JS
\*-------------------------------------------*/
.chart-container {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(76deg, #161616 20%, #303030 74%);
  transition: all 0.3s ease;
  border-radius: 30px;
  margin: 15px 20px;
  padding: 20px;
  min-width: 1050px;
  min-height: 800px;
}

svg {
  height: 700px
}
.tooltip {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: 1;
  padding: 3% 3% 3% 0;
  text-align: center;
  width: 150px;
}

.tooltip-poster {
  width: 150px;
  margin: auto;
}

.bubbles:hover {
  cursor: pointer;
  stroke: white;
  stroke-width: 2px;
}

.label:hover {
  cursor: pointer;
}

.clicked {
  text-decoration: underline;
}

#loader {
	font-size: 3em;
	width: 2em;
	height: 2em;
	box-sizing: border-box;
	border-style: solid;
	border-width: 0.3em;
  border-color: hsl(348deg 83% 47%) white;
  border-radius: 50%;
  margin: 10vw 45vw;
	display: block;
  animation: spin 2s linear infinite;
	transition: 0.5s;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.movie-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-image: linear-gradient(76deg, #2c2c2c 20%, #323232 74%);
  border-radius: 30px;
  margin: 15px 20px 60px;
  padding: 20px;
  min-width: 200px;
}

.movie-container h3 {
  margin: 5px 0;
  color: #d7d7d7;
}

.movie-container p {
  margin: 10px 0;
  padding: 10px;
  background-color: #1c1c1c;
  color: #afafaf;
  border-radius: 20px;
}

.movie-poster {
  margin: 15px;
  width: 200px;
  border-radius: 20px;
}

.movie-info {
  display: flex;
  flex-direction: column;
  max-width: 350px;
}

h4 {
  padding: 5px 0;
}


/*-------------------------------------------*\
        			   FOOTER
\*-------------------------------------------*/
footer {
  height: auto;
  background-image: linear-gradient(76deg, #161616 20%, #303030 74%);
  border-top: 3px solid #dc143c;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 10px;
}

.footer-content h1 {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
}

.footer-content p {
  color: #cacdd2;
  margin: 10px auto;
  line-height: 20px;
}

.footer-content #links {
  padding-bottom: 15px;
}


/*-------------------------------------------*\
        			MEDIA QUERIES
\*-------------------------------------------*/
@media only screen and (min-width: 688px) {
  header {
    justify-content: space-between;
  }

  #menuToggler {
    display: none;
  }

  #menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #menu.open {
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: transparent;
    height: auto;
    width: auto;
    border: 0;
    background-image: linear-gradient(76deg, #16161600 20%, #30303000 74%);
  }

  #links img {
    width: 36px;
  }

  nav ul {
    margin-top: auto;
    margin-bottom: 7px;
  }

  .hero-container {
    flex-direction: row;
    padding: 60px 0;
  }

  .picture-content img {
    height: 350px;
  }

  .text-content h2 {
    font-size: 4.3em;
  }

  .row {
    margin: 0 8vw;
  }

  .row h2 {
    font-size: 2.4em;
  }

  .carousel-container {
    /* max-width: 500px; */
    min-width: 500px;
  }

  .card {
    max-width: 600px;
    align-content: center;
    flex-wrap: wrap;
  }

  .mobile-details {
    display: flex;
    flex-direction: column;
    max-width: 160px;
  }

  .tablet-details {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-top: 35px;
  }

  .cta-container {
    max-width: 600px;
  }

  .movie-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .movie-info {
    max-width: 350px;
  }
}


@media only screen and (min-width: 1000px) {
  .row {
    margin: 0 15vw;
  }

  .row h2 {
    font-size: 2.8em;
  }

  .picture-content img {
    height: 400px;
  }

  .text-content h2 {
    font-size: 5em;
  }

  .carousel-container {
    min-width: 800px;
    margin-bottom: 35px;
  }

  .tablet-details {
    flex-direction: row;
    margin-top: 15px;
  }

  .desktop-details {
    display: flex;
    flex-wrap: wrap;
  }

  .tablet-details,
  .desktop-details {
    max-width: 550px;
  }

  .cta-container {
    max-width: 800px;
  }

  .movie-container {
    max-width: 900px;
  }

  .movie-poster {
    width: 300px;
  }

  .movie-container h3 {
    font-size: 2em;
  }

  .movie-container h4 {
    font-size: 1.25em;
  }

  .movie-container p {
    font-size: 1.1em;
  }

  .movie-info {
    max-width: 500px;
  }
}


@media only screen and (min-width: 1500px) {
  .row {
    margin: 0;
  }

  .features-card {
    max-width: 160px;
    margin: 0 20px;
  }

  .text-content h2 {
    font-size: 6em;
  }

  .text-content h3 {
    font-size: 1.2em;
  }

  .picture-content img {
    height: 500px;
  }
}
