/* Using web font from Google, using @import */
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Questrial', sans-serif;
  height: 100%;
  background-color: #111112;
  color: #fff;
}

/*-------------------------------------------*\
        				 HEADER
\*-------------------------------------------*/
header {
  display: flex;
  justify-content: space-between;
  height: 55px;
  background-color: #0c0c0c;
  color: white;
  border-bottom: 3px solid #dc143c;
  background-image: linear-gradient(76deg, #161616 20%, #303030 74%);
}

#logo {
  z-index: 99;
  margin: 0 10px;
}

/* .cinemalizer img {
  max-width: 200px;
} */

h1 {
  margin: 10px;
}

#menu {
  display: none;
  /* background-color: #0c0c0c; */
}

#menu.open {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  position: absolute;
  height: 160px;
  width: 100vw;
  background-color: #0c0c0c;
  border-bottom: 3px solid #dc143c;
  background-image: linear-gradient(76deg, #161616 20%, #303030 74%);
}

#menuToggler {
  margin: 0 10px;
  z-index: 99;
  cursor: pointer;
  font-size: 3em;
}

nav {
  color: #222;
  margin: auto 0;
}

nav a {
  text-decoration: none;
  font-size: 1em;
  color: inherit;
  margin: 0 10px;
}

nav ul {
  list-style: none;
  margin-top: 60px;
}

nav li {
  display: inline-block;
  color: #fff;
  font-size: 1.5em;
}

nav li:hover,
.active {
  color: #dc143c;
  font-weight: bold;
}

#links img {
  margin: 2px;
  width: 45px;
  transition: all .5s ease;
  border-radius: 50vw;
}

#links img:hover {
  filter: brightness(0.1) invert(1);
  transform: translateY(-0.15em);
	transition: all .5s ease;
}

#viz {
  width: auto;
}

/* Section */
/* section {
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  justify-content: center;
  min-height: 70%;
  overflow: hidden;
} */

/*-------------------------------------------*\
        				CONTAINERS
\*-------------------------------------------*/
hr {
  border: 0;
  border-top: 3px solid #dc143c;
  width: 200px;
  margin-top: 5px;
  margin-bottom: 25px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  background: linear-gradient(1deg, #111112 20%, #424242 96%);
}

.text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 8vw;
}

.text-content h2 {
  font-size: 3em;
  text-shadow: 0px 0px 3px #fff;
}

.text-content h3 {
  font-size: 1em;
  font-weight: lighter;
  padding: 15px;
}

.picture-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.picture-content img {
  height: 250px;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 30px;
  /* background-color: #1f1f1f; */
  border-radius: 30px;
  padding: 7vw;
  background-image: linear-gradient(76deg, #161616 20%, #303030 74%);
}

.container h2,
.carousel-container h2 {
  font-size: 2em;
  font-weight: lighter;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 10px 0 10px
}

.row h2 {
  width: 100%;
  text-align: center;
  font-size: 2em;
  margin: 10px;
  margin-top: 50px;
}

/* .column {
  border: 1px solid orange;
  padding: 1em;
} */

.features-card {
  padding: 20px;
  margin: 15px 20px;
  text-align: center;
  background: linear-gradient(360deg, #161616 20%, #303030 74%);
  border-radius: 30px;
  transition: all .5s ease;
  max-width: 200px;
  min-height: 250px;
}

.features-card img {
  font-size: 2em;
  height: 2em;
  width: 2em;
  margin: auto;
  display: grid;
  place-items: center;
  border-radius: 50%;
  color: #fff;
}

.features-card h3 {
  font-size: 1.3em;
  margin: 1em 0 1.4em 0;
  font-weight: 600;
  letter-spacing: 0.3px;
}

.features-card p {
  line-height: 2em;
  color: gray;
}

.features-card:hover {
  transform: translateY(-0.4em);
  transition: all.3s ease;
}

.features-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 20px;
}

.features-content h3 {
  text-transform: uppercase;
}

.features-content img {
  height: 40px;
  border-radius: 50vw;
  /* filter: brightness(.9) invert(1); */
  /* filter: brightness(.9) invert(.9); */
  margin-right: 10px;
}

.features-content p {
  margin-left: 20px;
}

/* #carousel {
  width: 300px;
  height: 500px;
  margin: 0 auto;
  position: relative;
} */

.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(76deg, #161616 20%, #303030 74%);
  transition: all 0.3s ease;
  border-radius: 30px;
  padding: 3vh 0 8vh 0;
  margin: 30px;
}

.carousel-container img {
  width: 150px;
  transition: all 0.3s ease;
  /* border: 3px solid white; */
  border-radius: 20px;
  box-shadow: -2px 2px 0px #fff;
}

.card {
  display: none;
}

.movie-content {
  position: absolute;
}

.movie-content h3 {
  font-size: 1em;
  font-weight: bolder;
}

#cta img {
  width: 300px;
}

/*-------------------------------------------*\
        			  	BUTTONS
\*-------------------------------------------*/
/* CTA */
#get-started {
  margin-top: 20px;
  cursor: pointer;
  width: 200px;
  height: 60px;
  border: 0;
  padding: 12px 10px;
  outline: none;
  color: #fff;
  background: linear-gradient(to right, #7a081f, #dc143c);
  border-radius: 50vw;
  transition: width 0.5s;
  font-size: 1.5em;
  box-shadow: 1px 1px 7px #000;
}

#get-started img {
  display: none;
  width: 50px;
  height: 20px;
}

#get-started:hover img {
  display: block;
}

#get-started:hover {
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Carousel */
#prevBtn,
#nextBtn {
  z-index: 99;
  cursor: pointer;
  position: absolute;
  font-size: 1em;
  font-weight: 700;
  background-color: rgb(255 255 255 / 85%);
  border: 0;
  border-radius: 50%;
  outline: none;
  width: 30px;
  height: 30px;
  transition: 0.6s ease;
  padding: 2px;
  box-shadow: 1px 1px 7px #b9b9b9;
}

#prevBtn {
  left: 10px;
}

#nextBtn {
  right: 10px;
}

#prevBtn:hover,
#nextBtn:hover {
  background-color: #fff;
}

/*-------------------------------------------*\
        					D3.JS
\*-------------------------------------------*/
.bubbles:hover {
  stroke: black;
}

.tooltip {
  border: solid 1px black;
}

/*-------------------------------------------*\
        			   FOOTER
\*-------------------------------------------*/
footer {
  height: auto;
  width: 100vw;
  background-image: linear-gradient(76deg, #161616 20%, #303030 74%);
  border-top: 3px solid #dc143c;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 10px;
}

.footer-content h1 {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
}

.footer-content p {
  color: #cacdd2;
  margin: 10px auto;
  line-height: 20px;
}

.footer-content #links {
  padding-bottom: 15px;
}



/*-------------------------------------------*\
        			MEDIA QUERIES
\*-------------------------------------------*/
@media only screen and (min-width: 687px) {
  header {
    justify-content: space-between;
  }

  #menuToggler {
    display: none;
  }

  #menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #menu.open {
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: transparent;
    height: auto;
    width: auto;
    border: 0;
    background-image: linear-gradient(76deg, #16161600 20%, #30303000 74%);
  }

  #links img {
    width: 35px;
  }

  nav ul {
    margin-top: auto;
    margin-bottom: 7px;
  }

  .hero-container {
    flex-direction: row;
    padding: 60px 0;
  }

  .picture-content img {
    height: 350px;
    margin-right: 30px;
  }

  .text-content h2 {
    font-size: 4.3em;
  }

  .row {
    margin: 0 8vw;
  }
}


@media only screen and (min-width: 1000px) {
  .row {
    margin: 0 15vw;
  }

  .picture-content {
    width: auto;
  }

  .picture-content img {
    height: 400px;
  }

  .text-content h2 {
    font-size: 5em;
  }
}


@media only screen and (min-width: 1500px) {
  .row {
    margin: 0;
  }

  .features-card {
    max-width: 160px;
    margin: 0 20px;
  }

  .text-content h2 {
    font-size: 6em;
  }
}
