/* CSS Document for Screens */
/* Using web font from Google, using @import */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono:wght@700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  font-size: 1.1rem;
  font-weight: 700;

  /* black gradient */
  background-image: linear-gradient(black, #404040);
  /* green gradient */
  /* background:linear-gradient(120deg, #1db954, #191414); */
  display: flex;
  flex-direction: column;
  /** min-height: 100vh; */
  margin: 1em;
  padding: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Header */

#banner {

}

nav {
  position: fixed;
  display: flex;
  top: 0.5rem;
  right: 0.5rem;
  background-color: white;
  /*opacity: 0*/
}

/* Nav Bar */
nav a {
  font-size: 2em;
  font-weight: 400;
  text-decoration: none;
  transition: color .3s ease-in-out;
  padding: 0.3em 0.3em;
  text-align: center;
  /* flex-grow: 1;*/
  color: black;
}

a:hover {
  text-decoration: none;
  color: #55a657;
  border-bottom: dotted 1px;
}

#menuToggler {
  position: fixed;
	top: 0.5em;
	right: 0.5em;
	height: 1em;
	width: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 20;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 0.25em;
}

#menuToggler div {
	height: 20%;
	background: white;
	transition: transform 0.3s;
}

#menuToggler.open div:nth-child(1) {
	transform: translateY(0.3em) rotate(45deg);
}

#menuToggler.open div:nth-child(3) {
	transform: translateY(-0.5em) rotate(-45deg);
}

#menuToggler.open div:nth-child(2) {
	opacity: 0;
}

#menuToggler.open + header nav {
	transform: translate(0);
}


/* Banner */
#banner {
  padding: 8em 0;
}


/* DIV Container */
.container {
  background-color: white;
  margin-bottom: 3em;
  margin-left: auto;
  margin-right: auto;
  width: 80em;
  padding-bottom: 1em;
  /*max-width: 70em;*/
}


/* Section */
section {
  text-align: center;
}


/* Song Slideshow Container */
.slideshow-container {
  position: relative;
  background: white;
}

/* Song Titles */
.slides-songs {
  display: none;
  padding: 3em;
  text-align: center;
}

.previous, .next {
  position: absolute;
  padding: 1em;
  color: black;
  cursor: pointer;
  top: 50%;
  width: auto;
  font-size: 1em;
  font-weight: 600;
  border-radius: 0 2px 2px 0;
  user-select: none;
}

.next {
  position: absolute;
  right: 0;
  border-radius: 2px 0 0 2px;
}

.previous:hover, .next:hover {
  background-color: rgba(0,0,0,0.2);
  color: #55a657;
}







/* Headings and Paragraph Styles */
p {
  font-weight: 500;
  color: black;
  padding: 0 1em;
  max-width: 60em;
  margin:1em auto;
}

h2 {
  background-color: #39995a;
  color: white;
  font-weight: 500;
  line-height: 1em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  margin: 0 0 1em 0;
  letter-spacing: -0.01em;
}

h1 {
  font-size: 1.75em;
  color: #55a657;
  font-weight: 800;
  line-height: 1em;
  margin: 0 0 1em 0;
  letter-spacing: -0.01em;
}

h2 {
  font-size: 1.5em;
}


h4 {
  color: white;
}




/* Image Styles */

img {
  max-width: 100%;
  height: auto;
  display: block;
  transition: all .3s ease-in-out;
}

.artists-images img:hover {
   z-index: 1;
   transform: scale(1.2);
}

.artists-images img {

  /*border-radius: 50%;*/
  height: 125px;
  width: 125px;
}


.artists-images {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 0.5em;
  padding-left: 1em;
  padding-bottom: 1em;
}


/* Banner */
.primary-title {
  /* white-space: nowrap; */
  font-size: 4rem;
  font-size: clamp(6rem, calc(5vw + 1rem), 4.5rem);
  line-height: 1.1;
  text-transform: uppercase;
  text-align: center;
  display: grid;
}



/* Main */
.section-title {
  /* font-size: clamp(1.5rem, calc(3vw + .5rem), 2rem)*/
  line-height: 1;
  color: white;
}

/* Main Songs */
.songs {
  float: left;
  margin-left: -38%;
}





/* Main Artists*/


span {
  line-height: 1.2;
  color: white;
  display: block;
  font-weight: 200;
  font-size: 1.1rem;
  text-align: left;
}


/* Details about the artist's song shows up to the right of their image */
/* Need to separate one from another, so only the specific one the user hovers over shows up*/
.details {
  font-size: 0.3em;
  position: absolute;






/* Making sure everything stays contained! Stops the page from scaling when it hits the max */
/*
#chart {z-index: 1; width: 500px; height: 500px; margin: 1px; text-align: center; display: inline-block; margin-left: 60px; margin-top: 30px;}
#chart h2 {color: #1DB954; position: absolute; left: 400px; margin-top: -50px;}

#bubblechart h2 {position: absolute; right: 100px; margin-bottom: 100px;}
.rectangle:hover {
  opacity: 0.66;
}*/



/* defining a pseudo-element */
section::after { content:''; display: block; clear: both; }



/* Media Queries */
@media screen and (max-width: 1000px; ) {
  h1 { font-size: 2.4em; }



  /* Footer */
  footer { font-size: .8em; margin: 40px; color: #999; }
  footer .content { display: inline; }
  footer a { margin-left: 30px; color: #777; }
  footer a:visited { color: #777; }
  footer a:hover { color: #000; }

  /* Footer */
  footer::after { content:''; display: block; clear: both;}
  footer div.content a {
    display: inline-block; margin: 0 0 10px 0;
    float: left;
    clear: both;
  }

}
